/* Base styles */
body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin: 0;
}
h1{font-size: 50px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    text-transform: uppercase;
}

/* Header styles */
header {
    background: url('https://edube.org/uploads/media/default/0001/04/products_image.jpg') no-repeat center center;
    background-size: cover;
    padding: 20px;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
}

/* Footer styles */
footer {
    background-color: lightgray;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Product styles */
.product {
    width: 300px;
    padding: 20px;
    border: 2px solid #000;
    margin: 20px;
    background-color: #f9f9f9;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.product-image {
    position: relative;
}

.product-image img {
    width: 100%;
    border-radius: 10px;
}

.badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

/* Table styles */
.product-specs {
    width: 100%;
    border-collapse: collapse;
}

.product-specs th, .product-specs td {
    border: 1px solid #ddd;
    padding: 8px;
}

.product-specs tr:nth-child(even) {
    background-color: #f2f2f2;
}

.product-specs tr:hover {
    background-color: #ddd;
}

/* Form styles */
.contact-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contact-form form {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
}

.contact-form fieldset {
    border: none;
}

.contact-form legend {
    font-weight: bold;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.contact-form label {
    display: block;
    margin-top: 10px;
}

.contact-form input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.contact-form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    margin-top: 20px;
}

.contact-form button:hover {
    background-color: #45a049;
}

input[type="text"], input[type="email"], textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    focussed: border-color: #ddd;
}

/* New styles for back to home link */
#bkto { 
    display: inline-block;
    width: 500px;
    margin: 20px;
    padding: 10px 15px;
    background-color: #37eeb1;
    color: rgb(73, 68, 68);
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    border-bottom: #336088 5px solid;
    
}